
:root {
--primary-color: white;
--secondary-color: #1E1E1E;
--text-color: black;
--task-color: white;
--footer-color: #45c48c;
--filter: none;
--theme-transition: 0s;

}

* {
outline: none;
}

body {
display: flex;
min-height: 100vh;
justify-content: center;
align-items: center;
overflow: hidden;

}

.container {
position: relative;
border: 4px var(--footer-color) solid;
padding: 30px;
display: flex;
flex-direction: column;
width: 50%;
height: 80vh;
border-radius: 20px;
text-align: center;
overflow: hidden;
background: var(--primary-color);
transition: var(--theme-transition);
}

header {
display: flex;
flex-direction: column;
}

.heading {
font-weight: 900;
color: var(--text-color);
}


.heading {
font-size: 30px;
}

.tasks {
margin: 20px 0px;
overflow: hidden;
padding-right: 15p;
}

#tasksList {
padding: 0px;
}

.task_list_empty {
transition: 0s;
background-position: center;
background-size: 50%;
background-repeat: no-repeat;
background-image: var(--container-bg);

}

.task_item {
list-style-type: none;
border: 1px #ec426d solid;
padding: 10px;
display: flex;
flex-direction: row;
align-items: center;
border-radius: 7px;
margin-bottom: 20px;
background-color: var(--task-color);
color: #ec426d;
}

.task_item:hover {
transition: 0.5s;
cursor: pointer;
background-color:rgba(226, 226, 226, 0.192);

}

.task_check_btn {
margin-right: 16px;
padding: 3px;
border: 2px var(--secondary-color) solid;
background-position: center;
background-size: contain;
border-radius: 50%;
border: 2px grey solid;
cursor: pointer;
}

.task_check_btn:hover {
filter: var(--filter);

}

.task_bio {
font-size: 18px;
}



.task-completed {
transform: scale(95%);
color: rgb(69,196,140);
border-color: rgb(69,196,140);
}

.task-bio-completed{
    text-decoration: line-through;
}

.task_delete{
  background-color: red;
  border: 1px solid red;
  padding: 5px;
  border-radius: 10px;
  margin-left: 40%;
  text-decoration: none;
  cursor: pointer;
}

footer {
position: absolute;
bottom: 0px;
padding: 15px 10px;
min-width: 100%;
background-color: var(--footer-color);
left: 0px;
border: 5px var(--footer-color) solid;
}

footer form {
display: flex;
flex-direction: row;
align-content: center;
}

#new_task_form{
    min-width: 100%;
    margin: 0, 20px, 0, 20px;
}

#new_task_input {

font-size: 20px;
color: white;
background-color: transparent;
border: none;
border-bottom: 1px rgba(0, 0, 0, 0.267) solid;
width: 80%;
margin-right: 4%;
}

#new_task_input::placeholder {
color: rgba(0, 0, 0, 0.589);
font-size: 20px;
font-family: "Times New Roman";
}

#new_task_input_btn {
border-radius: 15px;
width: 73px;
height: 37px;
background-color: #ec426d;
border: none;
background-repeat: no-repeat;
background-size: 80%;
cursor: pointer;
margin-right: 20px;
}

@media screen and (max-width : 600px) {

body {
margin: 0px;
padding: 0px;
align-items: flex-start;
height: 100vh;
background-color: var(--bg-color);

}

.theme_toogle {
margin-top: 30px;

}

.container {
border: none;
border-radius: 0px;
width: 100%;
height: 93vh;
padding: 0px 20px;
}

#new_task_input {
margin-right: 20px;
}
}